<div nz-row>
    <div nz-col nzSpan="24">
        <h1>Make an appointment</h1>
    </div>
</div>

<div nz-row>
    
    <div nz-col nzSpan="12">
        
        <h3>First Name*</h3>
        <input nz-input [(ngModel)]="value" style="width: 200px;"/>
        <h3>Last Name*</h3>
        <input nz-input [(ngModel)]="value" style="width: 200px;"/>
        <h3>Email*</h3>
        
        <form nz-form [formGroup]="validateForm">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                    <input nz-input formControlName="email" id="email" />
                </nz-form-control>
            </nz-form-item>
          </form>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            [nzValidateStatus]="validateForm.controls['phoneNumber']"
            nzErrorTip="Please input your phone number!"
          >
            <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
              <ng-template #addOnBeforeTemplate>
                <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                  <nz-option nzLabel="+86" nzValue="+40"></nz-option>
                  <nz-option nzLabel="+87" nzValue="+87"></nz-option>
                </nz-select>
              </ng-template>
              <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
            </nz-input-group>
          </nz-form-control>
        <h3>Select service</h3>
        

        


    </div>
    <div nz-col nzSpan="12">
        <h3>Select date</h3>
        <nz-date-picker nzInline [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>

        <nz-alert nzMessage="Your selected date: {{ selectedValue }}"></nz-alert>
        <p>Date in red is occupied / Date in yellow is available.</p>
        <h3>Select time</h3>
        <nz-time-picker nzPlaceHolder="Start time" [(ngModel)]="time" nzFormat="HH:mm"></nz-time-picker>
        <nz-time-picker nzPlaceHolder="End time" [(ngModel)]="time" nzFormat="HH:mm"></nz-time-picker>
    </div>
    
</div>

<div nz-row>
    <div nz-col nzSpan="24">
        <button
        nz-button 
        [nzSize]="size" 
        nzType="default"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure delete this task?"
        nzPopconfirmPlacement="bottom"
        (nzOnConfirm)="confirm()"
        (nzOnCancel)="cancel()"
        >Confirm</button>
        
    </div>
</div>