<div>
    <table style="width:100%">
        <tr>
            <th>#</th>
            <th>Ticket ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Picture</th>
        </tr>
        <tr *ngFor="let customer of customerInfo">
            <td>{{customer.id}}</td>
            <td>{{customer.ticketID}}</td>
            <td>{{customer.name.first}}</td>
            <td>{{customer.name.last}}</td>
            <td>{{customer.email}}</td>
            <td><img src="{{customer.picture}}" alt="Customer picture"></td>
        </tr>
        
      </table>
</div>

