body,
html {
  background-color: #17212f;
}

.p-tabmenu {
  background-color: #1f2d40;
  padding: 10px;
}

.txt-clr {
  color: #ffd54f;
}

.fc {
  background-color: #1f2d40;

  color: #fff;
}

/* .fc-dayGrid-view .fc-body .fc-row {
  min-height: 2em;
  height: 50% !important;
}

.fc-view-container *,
.fc-view-container :after,
.fc-view-container :before {
  box-sizing: content-box;
  height: 50% !important;
  overflow: unset !important;
} */
